body{
  background: black;
}
.t{
  color: green;
  
}
.box{
  width: 200px;
  height: 200px;
  background: white;
  color: white;
  border: 4px solid #410073;
  padding: 100px;
  margin:50px ;
  
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.bt{
  font-size: 100px;
}
#other{
  width: 200px;
  height: 100px;
  margin: 50px;
   display: flex;
    justify-content: right;
    align-items: center;
}
