body{
  background: black;
  
}
.t{
  color: green;
  
}
.box{
  width: 750px;
  height: 600px;
  background: white;
  color: grey;
  border: 4px solid #410073;
  padding: 1px;
  margin:50px auto;
  display: flex;
  justify-content: center; 
  /*align-items: flex-start;*/ 
}
.bt{
  color: #531763;
}
#other{
  width: 200px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#ytb{
  width: 760;
  height: 200;
  border: 2px solid purple;
  margin: 50px auto;
  bottom:2px;
  justify-content: center;
  align-items: flex-end;
  
}

#tb{
  width:400;
  height: 200;
  margin:1px auto;
  border: 1px black;
  padding: 1px;
  background: white;
}

